= Business Model Canvas - AsciiDoc Template =

[cols="10,10,10,10,10,10,10,10,10,10"]
|===
2.2+a| *Key Partners* +

{% for partner in key_partners %}
  * {{ partner.name }}
{% endfor %}

2+a| *Key Activities* +

{% for activity in key_activities %}
  * {{ activity.name }}
{% endfor %}

2.2+a| *Value Proposition* +

{% for value in value_proposition %}
  * {{ value.name }}
{% endfor %}

2+a| *Customer Relationships* +

{% for relation in customer_relationships %}
  * {{ relation.name }}
{% endfor %}

2.2+a| *Customer Segments* +

{% for segment in customer_segments %}
  * {{ segment.name }}
{% endfor %}

2+a| *Key Resources* +

{% for resource in key_resources %}
  * {{ resource.name }}
{% endfor %}

2+a| *Channels* +

{% for channel in channels %}
  * {{ channel.name }}
{% endfor %}

5+a| *Cost Structure* +

{% for cost in cost_structure %}
  * {{ cost.name }}
{% endfor %}

5+a| *Revenue Streams* +

{% for stream in revenue_streams %}
  * {{ stream.name }}
{% endfor %}

|===
